@charset "utf-8";
*
{
	margin:0 auto;
	padding:0;
	text-decoration: none;
}
body {
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	background-color: #660000;
}
.formfield4 {
	background-color: #f7f7f7;
	border: 1px solid #000000;
}
.contact_text {
	font-family: Calibri;
	font-size: 14px;
	color: #FFFFFF;
}
.policies_text {
	font-family: Corbel;
	font-size: 20px;
	font-weight: bold;
	color: #663300;
	text-decoration: none;
	line-height: 30px;
}
